
<div class="hero-unit">
	<ul class="thumbnails pull-right" style="margin-left:20px;">
	  <li class="span3">
	    <a href="#" class="thumbnail">
	      <img src="../assets/ninja.jpg" alt="">
	    </a>
	  </li>
	</ul>
	
  <h1>Ninja Learning</h1>
  <p>Semantic eLearning System</p>
	<p>This is a eLearning platform which use semantic web (Web 3.0) to generate educational content automatically.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>


<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p align="justify">
Lorem ipsum dolor sit amet, nulla nonummy mollis massa, vestibulum cursus gravida sed aliquam sed aliquet, urna quis sed, vivamus accumsan dolor. Eget rhoncus magna vel, aperiam dui rutrum, cras fermentum cum, dolor urna dui eros ut non. Nec et elit sapien aenean elementum erat, diam nonummy blandit non id officia sodales. Sed urna. Lectus nullam wisi fugiat mollis, pulvinar cras.</p>
<p align="justify">
Dui at vel tempus adipiscing vel blandit, euismod nisl vivamus ipsum ultrices sed, turpis erat dolor risus nam, nec eu arcu egestas ipsum. Nulla suscipit amet potenti. Sodales cras massa nec tortor enim ullamcorper. Dignissim leo sed ac, orci sed, lorem tempor at donec ac lacus. Placerat eleifend leo eu placerat, porttitor odio hendrerit lacus et mi, at quis. Vestibulum dapibus hendrerit elit turpis ante, volutpat arcu, cras sed. Dui nibh eu pretium nulla et, a nunc. Occaecati duis bibendum tellus quisque eu nulla, pretium sem dictumst ornare pellentesque tortor. Massa quis, tellus mollis natoque felis mollis, in nec mauris risus.</p>
<p align="justify">
Accumsan suscipit, laoreet tincidunt et velit eget ac et, enim rutrum erat placerat fringilla. Cras non est non, adipiscing risus aliquam quis nibh consequuntur elementum, metus fusce, sodales nulla pellentesque morbi etiam sed proin, quisque facilisis condimentum purus volutpat fugiat. Sagittis lorem laoreet, maecenas aliquet massa arcu tellus sit, justo vulputate dis at donec. Interdum odio sociosqu mauris pellentesque aliquam, eleifend nunc felis sit arcu neque est, diam pede, feugiat ut iaculis, nunc risus nostra. Ante magna tempor imperdiet et neque. Felis suscipit nec nunc, ante integer integer eu rutrum vehicula, vestibulum iaculis occaecati ut pharetra elementum rhoncus, mi venenatis aliquam convallis. Libero quis sapien nec, libero condimentum curabitur vitae ultricies feugiat. Elit quis vitae. Quis pede orci porta arcu arcu ultrices, laoreet ut enim urna suspendisse eleifend eu, ac diam, dui sed cras sapien ut eget, in in est. Cras aliquam, tellus vehicula sem. Dui molestie curabitur, nullam quis at dui at molestie.</p>
<p align="justify">
Non proin, ipsum magna magna, mi eget. Diam non pede ac in ipsum. Et tristique libero dui hic pulvinar integer, proin magna est dolor, non praesent. Tristique sed fusce quis nisl, metus augue proin. Ullamcorper massa lobortis non in, facilisi nullam ante. Sed aliquet gravida mus curabitur, lacinia lorem vel. Adipiscing neque nostra praesent, sed porta erat, morbi elit fusce mi, metus scelerisque senectus, sit nulla. Nibh gravida eu etiam pellentesque curabitur in, dui tortor ullamcorper lacus varius. Posuere sit volutpat lectus posuere maecenas, faucibus risus vestibulum rutrum. Lobortis malesuada vestibulum. Diam laboris ut vel sed habitasse, quam dolor dolor mi nisl, turpis ac gravida dictum donec, neque id amet, maecenas ac sed dictumst. Massa congue magna nulla, diam turpis pellentesque praesent nulla vivamus.</p>
<p align="justify">
</p>
<p align="justify">
Lorem ipsum dolor sit amet, nulla nonummy mollis massa, vestibulum cursus gravida sed aliquam sed aliquet, urna quis sed, vivamus accumsan dolor. Eget rhoncus magna vel, aperiam dui rutrum, cras fermentum cum, dolor urna dui eros ut non. Nec et elit sapien aenean elementum erat, diam nonummy blandit non id officia sodales. Sed urna. Lectus nullam wisi fugiat mollis, pulvinar cras.</p>
<p align="justify">
Dui at vel tempus adipiscing vel blandit, euismod nisl vivamus ipsum ultrices sed, turpis erat dolor risus nam, nec eu arcu egestas ipsum. Nulla suscipit amet potenti. Sodales cras massa nec tortor enim ullamcorper. Dignissim leo sed ac, orci sed, lorem tempor at donec ac lacus. Placerat eleifend leo eu placerat, porttitor odio hendrerit lacus et mi, at quis. Vestibulum dapibus hendrerit elit turpis ante, volutpat arcu, cras sed. Dui nibh eu pretium nulla et, a nunc. Occaecati duis bibendum tellus quisque eu nulla, pretium sem dictumst ornare pellentesque tortor. Massa quis, tellus mollis natoque felis mollis, in nec mauris risus.</p>
<p align="justify">
Accumsan suscipit, laoreet tincidunt et velit eget ac et, enim rutrum erat placerat fringilla. Cras non est non, adipiscing risus aliquam quis nibh consequuntur elementum, metus fusce, sodales nulla pellentesque morbi etiam sed proin, quisque facilisis condimentum purus volutpat fugiat. Sagittis lorem laoreet, maecenas aliquet massa arcu tellus sit, justo vulputate dis at donec. Interdum odio sociosqu mauris pellentesque aliquam, eleifend nunc felis sit arcu neque est, diam pede, feugiat ut iaculis, nunc risus nostra. Ante magna tempor imperdiet et neque. Felis suscipit nec nunc, ante integer integer eu rutrum vehicula, vestibulum iaculis occaecati ut pharetra elementum rhoncus, mi venenatis aliquam convallis. Libero quis sapien nec, libero condimentum curabitur vitae ultricies feugiat. Elit quis vitae. Quis pede orci porta arcu arcu ultrices, laoreet ut enim urna suspendisse eleifend eu, ac diam, dui sed cras sapien ut eget, in in est. Cras aliquam, tellus vehicula sem. Dui molestie curabitur, nullam quis at dui at molestie.</p>
<p align="justify">
Non proin, ipsum magna magna, mi eget. Diam non pede ac in ipsum. Et tristique libero dui hic pulvinar integer, proin magna est dolor, non praesent. Tristique sed fusce quis nisl, metus augue proin. Ullamcorper massa lobortis non in, facilisi nullam ante. Sed aliquet gravida mus curabitur, lacinia lorem vel. Adipiscing neque nostra praesent, sed porta erat, morbi elit fusce mi, metus scelerisque senectus, sit nulla. Nibh gravida eu etiam pellentesque curabitur in, dui tortor ullamcorper lacus varius. Posuere sit volutpat lectus posuere maecenas, faucibus risus vestibulum rutrum. Lobortis malesuada vestibulum. Diam laboris ut vel sed habitasse, quam dolor dolor mi nisl, turpis ac gravida dictum donec, neque id amet, maecenas ac sed dictumst. Massa congue magna nulla, diam turpis pellentesque praesent nulla vivamus.</p>
<p align="justify">
</p>
